<div class="uk-position-top">
    <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a id="applications-nav" href="/applications">Applications</a></li>
                <li class="uk-active"><a id="jobs-nav" href="/jobs">Jobs</a></li>
                <li><a id="profile-nav" href="/profile">Profile</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="github-jobs" class="uk-grid-column-medium uk-grid-row-medium uk-child-width-1-3@s uk-text-center uk-grid">
    {{#each jobs}}
    <div class="uk-card uk-card-default uk-card-body" data-jobId="{{id}}">
        <p>Job Title: {{title}}</p>
        <p>Company: {{company}}</p>
        <p>Location: {{location}}</p>
        <p>Location: {{location}}</p>

        <button class="link-to-ext" href="{{url}}" target="_blank" data-jobId="{{id}}">link</button>
        <img src="{{company_logo}}" alt="company logo" />
    </div>
    {{/each}}
</div>