{{#each jobs}}

<div class="job-card" id="job1">
	<div class="uk-card uk-card-small uk-card-secondary uk-border-rounded">
		<div class="uk-card-header">
			<div class="uk-grid uk-grid-small uk-text-small" data-uk-grid>
				{{!-- <div class="uk-width-expand">
					<span class="cat-txt">Job Application #</span>
				</div>
				<div class="uk-width-auto uk-text-right uk-text-muted">
					<span data-uk-icon="icon:clock; ratio: 0.8"></span> Date Applied
				</div> --}}
			</div>
		</div>
		<div class="uk-card-body">
			<h3 class="uk-margin-small-bottom uk-margin-remove-adjacent"id="title-{{id}}"> {{title}}</h3>
			<h4 class="uk-margin-small-bottom uk-margin-remove-adjacent"id="company-{{id}}" href="{{company_url}}">{{company}}</h4>
			<h5 class="uk-margin-small-bottom uk-margin-remove-adjacent"id="loc-{{id}}">{{location}}</h5>
			{{!-- <p class="uk-text-small uk-text-muted"id="desc-${{id}}">Description: {{description}}</p> --}}
			{{!-- <p class="uk-text-small uk-text-muted uk-text-bold">Salary Range</p> --}}
			<!-- Model Button -->
			<a class="uk-button uk-button-default uk-border-rounded" href="#modal-center" uk-toggle>Details</a>
			<!-- Modal Info -->
			<div id="modal-center" class="uk-flex-top" uk-modal>
				<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

					<button class="uk-modal-close-default" type="button" uk-close></button>

					<h3 class="uk-margin-small-bottom uk-margin-remove-adjacent"id="title-{{id}}">{{title}}</h3>
					<h4 class="uk-margin-small-bottom uk-margin-remove-adjacent"id="company-{{id}}" href="{{company_url}}">{{company}}</h4>
					{{!-- <img src="{{company_logo}}" alt="company logo" /> --}}
					<h5 class="uk-margin-small-bottom uk-margin-remove-adjacent"id="loc-{{id}}">Location: {{location}}</h5>
					<p class="uk-text-small uk-text-muted"id="desc-{{id}}">Description: {{{description}}}</p>

				</div>
			</div>

		</div>
		<div class="uk-card-footer">
			<div class="uk-grid uk-grid-small uk-grid-divider uk-flex uk-flex-middle" data-uk-grid>
				<div class="uk-width-expand uk-text-small">
					User Rating
				</div>
				<div class="uk-width-expand uk-text-small">
					Current Stage
				</div>
				<div class="uk-width-expand uk-text-small">
					<a class="link-to-ext" href="{{url}}" target="_blank" data-jobId="{{id}}">Job Posting</a> 
				</div>
			</div>
		</div>
	</div>
	<br>
	<hr>
	<br>
</div>

{{/each}}