<div class="uk-card uk-card-default uk-card-body" data-jobId="{{id}}">
	<p id="title-{{id}}">{{title}}</p>
	<a id="company-{{id}}" href="{{company_url}}">{{company}}</p>
	<p id="loc-{{id}}">{{location}}</p>
	<p id="desc-{{id}}">{{description}}</p>
	<button class="link-to-ext" href="{{url}}" target="_blank" data-jobId="{{id}}">link</button>
	{{!-- <img src="{{company_logo}}" alt="company logo" /> --}}
</div>