<div class="uk-card uk-card-default uk-card-body" data-jobId="{{id}}">
	<p>Job Title: {{title}}</p>
	<p>Company: {{company}}</p>
	<p>Location: {{location}}</p>

	<button class="link-to-ext" href="{{url}}" target="_blank" data-jobId="{{id}}">link</button>
	{{!-- <img src="{{company_logo}}" alt="company logo" /> --}}
</div>